<a href="https://colab.research.google.com/github/ywang1110/Modeling_Triboelectric_Performance/blob/main/Humidity___SEBS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.optimize import curve_fit
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
import matplotlib.cm as cm
from IPython.display import display
from sklearn.feature_selection import f_regression

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Prepare dataset

## Load data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_excel('drive/My Drive/1 Manuscript_AFM/Data process/3 NewData_Train - updateDiameter-Validiate.xlsx', sheet_name='mean')
df.head()

  Unnamed: 0  ChargeDensity(µC/m2) j  ...  Force (N)  Technique
0        K-1                   26.43  ...       35.5   Reicofil
1        K-2                   28.35  ...       37.1   Reicofil
2        K-3                   31.15  ...       36.1   Reicofil
3        K-4                   30.28  ...       37.3   Reicofil
4        K-5                   33.76  ...       36.1   Reicofil

[5 rows x 10 columns]

In [4]:
df.shape

(43, 10)

## Unit conversion

In [5]:
data = pd.DataFrame()
data['ChargeDensity(C/m2)']=df['ChargeDensity(µC/m2) j']*pow(10,-6)
data['thickness(m)']=df['Thickness (um) x']*pow(10,-6)
data['solidity'] = df['solidity y']
data['diameter(m)'] = df['diameter (um) z']*pow(10,-6)
data['Interface(m)']=df['Interface  (mm) u']*pow(10, -3)
data['Technique'] = df['Technique']
data[['Tem (°C)', 'Humidity (%)', 'Force (N)']]=df[['Tem (°C)', 'Humidity (%)', 'Force (N)']]

data.head()

   ChargeDensity(C/m2)  thickness(m)  ...  Humidity (%)  Force (N)
0             0.000026      0.000472  ...          25.9       35.5
1             0.000028      0.000568  ...          27.5       37.1
2             0.000031      0.000473  ...          28.5       36.1
3             0.000030      0.000600  ...          29.6       37.3
4             0.000034      0.000393  ...          28.5       36.1

[5 rows x 9 columns]

In [6]:
data.shape

(43, 9)

# Train test split

In [7]:
random_state=76
kf = KFold(n_splits=5, shuffle = True, random_state=random_state)
train_indexs = []
test_indexs = []
for train_index, test_index in kf.split(data):
    train_indexs.append(train_index)
    test_indexs.append(test_index)
index=pd.DataFrame(zip(train_indexs, test_indexs), columns=['train_index','test_index'])
index

                                         train_index                           test_index
0  [0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 15, 16...  [9, 10, 14, 22, 24, 25, 35, 36, 39]
1  [0, 1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 1...   [4, 6, 21, 23, 27, 30, 31, 32, 40]
2  [0, 1, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 1...   [2, 3, 11, 13, 17, 19, 29, 38, 42]
3  [0, 1, 2, 3, 4, 6, 7, 9, 10, 11, 13, 14, 15, 1...       [5, 8, 12, 16, 18, 20, 28, 37]
4  [2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, ...        [0, 1, 7, 15, 26, 33, 34, 41]

In [8]:
n_fold=4
n_fold=0

In [9]:
train_index = index.iloc[n_fold,0]
test_index = index.iloc[n_fold,1]
train, test = data.iloc[train_index], data.iloc[test_index]
train.shape

(34, 9)

In [10]:
train.shape

(34, 9)

In [11]:
test.shape

(9, 9)

In [12]:
"""
train.to_csv('train.csv')
test.to_csv('test.csv')
"""

"\ntrain.to_csv('train.csv')\ntest.to_csv('test.csv')\n"

In [13]:
"""
train = pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
"""

"\ntrain = pd.read_csv('train.csv')\ntest=pd.read_csv('test.csv')\n"

In [14]:
train.head()

   ChargeDensity(C/m2)  thickness(m)  ...  Humidity (%)  Force (N)
0             0.000026      0.000472  ...          25.9       35.5
1             0.000028      0.000568  ...          27.5       37.1
2             0.000031      0.000473  ...          28.5       36.1
3             0.000030      0.000600  ...          29.6       37.3
4             0.000034      0.000393  ...          28.5       36.1

[5 rows x 9 columns]

In [15]:
# Train the model
x=train['thickness(m)'].to_numpy()
y=train['solidity'].to_numpy()
z=train['diameter(m)'].to_numpy()
u=train['Interface(m)'].to_numpy()
h=train['Humidity (%)'].to_numpy()
j=train['ChargeDensity(C/m2)'].to_numpy()
def func(X,a, w, c, m, n, p):
  x,y,z,u,h = X
  return (a-w*h)*(2*x*y/z-c*y**m*x**n/z**p)*0.01/(0.01+u)

# lm
popt_lm,pcov = curve_fit(func,(x,y,z,u,h),j, method='lm', maxfev = 50000)
y_model_lm = func((x,y,z,u, h),popt_lm[0],popt_lm[1],popt_lm[2],popt_lm[3],popt_lm[4],popt_lm[5]) 
MSE_lm = mean_squared_error(j, y_model_lm)
MAE_lm = mean_absolute_error(j, y_model_lm)
lm_result="lm Method | MSE = {:.2E}| MAE = {:.2E}| a = {:.2E}, w = {:.2E}, c = {:.2E},m = {:.2E}, n = {:.2E}, p = {:.2E}".format(MSE_lm,MAE_lm,popt_lm[0],popt_lm[1],popt_lm[2],popt_lm[3],popt_lm[4],popt_lm[5])
lm_result

'lm Method | MSE = 1.77E-12| MAE = 1.05E-06| a = -5.57E-01, w = -6.11E-03, c = 2.00E+00,m = 1.00E+00, n = 1.00E+00, p = 1.00E+00'

In [16]:
# initial guesses for a,b,c,m,n,p:
p0 = 1E-6 , 0 ,1. , 1. , 1., 1.

In [17]:
  # trf & dogbox
       #    a          w           c        m          n       p
  bound=((  0,         0,          0,       0,         0 ,     0 ), 
       (np.inf,    np.inf,    np.inf,     np.inf,    np.inf, np.inf))
  
  ## trf
  popt_trf,pcov = curve_fit(func,(x,y,z,u,h),j, p0, bounds = bound, method='trf', maxfev=50000)

  y_model_trf = func((x,y,z,u,h),popt_trf[0],popt_trf[1],popt_trf[2], popt_trf[3],popt_trf[4],popt_trf[5]) 
  MSE_trf = np.sum((j - y_model_trf)**2)/train.shape[0]
  MAE_trf = np.sum(abs(j - y_model_trf))/train.shape[0]

  ## dogbox
  popt_dog, pcov = curve_fit(func,(x,y,z,u,h),j, p0, bounds = bound, method='dogbox', maxfev=50000)
  y_model_dog = func((x,y,z,u,h),popt_dog[0],popt_dog[1],popt_dog[2],popt_dog[3],popt_dog[4],popt_dog[5]) 
  MSE_dog = np.sum((j - y_model_dog)**2)/train.shape[0]
  MAE_dog = np.sum(abs(j - y_model_dog))/train.shape[0]

  if MSE_trf < MSE_dog:
    a,w,c,m,n,p = popt_trf[0],popt_trf[1],popt_trf[2],popt_trf[3],popt_trf[4], popt_trf[5]
    print('trf Method is the best method')
  else:
    a,w,c,m,n,p = popt_dog[0], popt_dog[1], popt_dog[2], popt_dog[3], popt_dog[4], popt_dog[5]
    print("dogbox Method is the best method")
  trf_result="trf Method | MSE = {:.2E}| MAE = {:.2E}| a = {}, w = {}, c = {},m = {}, n = {}, p = {}".format(MSE_trf,MAE_trf,popt_trf[0],popt_trf[1],popt_trf[2],popt_trf[3],popt_trf[4], popt_trf[5])
  dog_result="dog Method | MSE = {:.2E}| MAE = {:.2E}| a = {}, w = {}, c = {},m = {}, n = {}, p = {}".format(MSE_dog,MAE_dog,popt_dog[0], popt_dog[1], popt_dog[2], popt_dog[3], popt_dog[4], popt_dog[5])
  print(trf_result)
  print(dog_result)

trf Method is the best method
trf Method | MSE = 1.71E-12| MAE = 1.06E-06| a = 9.19124401640225e-06, w = 1.0350476180429715e-07, c = 0.7531593164528323,m = 1.190634960516979, n = 1.2503718927272336, p = 1.2497627539266112
dog Method | MSE = 1.71E-12| MAE = 1.06E-06| a = 9.19171765043023e-06, w = 1.0351005123509604e-07, c = 0.7532032072118091,m = 1.1906206507987585, n = 1.2503544082139957, p = 1.2497457981145592

In [18]:
  # Validate (when trf is best)

  data_val = pd.concat([train, test])
  data_val.head()
  x=data_val['thickness(m)'].to_numpy()
  y=data_val['solidity'].to_numpy()
  z=data_val['diameter(m)'].to_numpy()
  u=data_val['Interface(m)'].to_numpy()
  h=data_val['Humidity (%)'].to_numpy()
  j=data_val['ChargeDensity(C/m2)'].to_numpy()


  data_val['Predicted(C/m2)'] = (a-w*h)*(2*x*y/z-c*y**m*x**n/z**p)*0.01/(0.01+u)

  data_val['ratio(%)'] = (data_val['Predicted(C/m2)'] -data_val['ChargeDensity(C/m2)'])/data_val['ChargeDensity(C/m2)']*100
  data_val['ChargeDensity(uC/m2)'] = data_val['ChargeDensity(C/m2)']*pow(10,6)
  data_val['Predicted(uC/m2)'] = (a-w*h)*(2*x*y/z-c*y**m*x**n/z**p)*0.01/(0.01+u)*pow(10,6)
  data_val['ratio_2(%)'] = (data_val['Predicted(uC/m2)']-data_val['ChargeDensity(uC/m2)'])/data_val['ChargeDensity(uC/m2)']*100
  def mean_absolute_percentage_error(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
  
  mape = mean_absolute_percentage_error(data_val['ChargeDensity(C/m2)'], data_val['Predicted(C/m2)'])
  mape_train = mean_absolute_percentage_error(data_val['ChargeDensity(C/m2)'][0:train.shape[0]], data_val['Predicted(C/m2)'][0:train.shape[0]])
  mape_test = mean_absolute_percentage_error(data_val['ChargeDensity(C/m2)'][train.shape[0]:data_val.shape[0]], data_val['Predicted(C/m2)'][train.shape[0]:data_val.shape[0]])
  
  print('MAPE= {:.2f}'.format(mape))
  print('Train_MAPE = {:.2f}'.format(mape_train))
  print('test_MAPE = {:.2f}'.format(mape_test))

MAPE= 4.29
Train_MAPE = 4.05
test_MAPE = 5.17

In [19]:
data_afterTheory = data_val.iloc[:, :10]
data_afterTheory.head()

   ChargeDensity(C/m2)  thickness(m)  ...  Force (N)  Predicted(C/m2)
0             0.000026      0.000472  ...       35.5         0.000027
1             0.000028      0.000568  ...       37.1         0.000029
2             0.000031      0.000473  ...       36.1         0.000029
3             0.000030      0.000600  ...       37.3         0.000028
4             0.000034      0.000393  ...       36.1         0.000031

[5 rows x 10 columns]

In [20]:
data_afterTheory.describe()

       ChargeDensity(C/m2)  thickness(m)  ...  Force (N)  Predicted(C/m2)
count            43.000000     43.000000  ...  43.000000        43.000000
mean              0.000027      0.000506  ...  36.348837         0.000027
std               0.000004      0.000074  ...   0.660942         0.000003
min               0.000019      0.000355  ...  35.200000         0.000019
25%               0.000025      0.000470  ...  36.100000         0.000026
50%               0.000028      0.000512  ...  36.100000         0.000028
75%               0.000030      0.000564  ...  36.950000         0.000029
max               0.000035      0.000623  ...  38.100000         0.000033

[8 rows x 9 columns]

# Validation at different random seeds

In [21]:
def get_index(random_state, data):
  kf = KFold(n_splits=5, shuffle = True, random_state=random_state)
  train_indexs = []
  test_indexs = []
  for train_index, test_index in kf.split(data):
      train_indexs.append(train_index)
      test_indexs.append(test_index)
  index=pd.DataFrame(zip(train_indexs, test_indexs), columns=['train_index','test_index'])
  return index

In [22]:
def get_scores(n_fold, index, data):
  train_index = index.iloc[n_fold,0]
  test_index = index.iloc[n_fold,1]
  train, test = data.iloc[train_index], data.iloc[test_index]
  train_shape=train.shape
  test_shape=test.shape
  
  # Validate (when trf is best)
  a,w,c,m,n,p = popt_trf[0],popt_trf[1],popt_trf[2], popt_trf[3],popt_trf[4],popt_trf[5]
  
  data_val = pd.concat([train, test])
  x=data_val['thickness(m)'].to_numpy()
  y=data_val['solidity'].to_numpy()
  z=data_val['diameter(m)'].to_numpy()
  u=data_val['Interface(m)'].to_numpy()
  j=data_val['ChargeDensity(C/m2)'].to_numpy()


  data_val['Predicted(C/m2)'] = (a-w*h)*(2*x*y/z-c*y**m*x**n/z**p)*0.01/(0.01+u)

  
  def mean_absolute_percentage_error(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
  
  mape_trf = mean_absolute_percentage_error(data_val['ChargeDensity(C/m2)'], data_val['Predicted(C/m2)'])
  mape_trf_train = mean_absolute_percentage_error(data_val['ChargeDensity(C/m2)'][0:train.shape[0]], data_val['Predicted(C/m2)'][0:train.shape[0]])
  mape_trf_test = mean_absolute_percentage_error(data_val['ChargeDensity(C/m2)'][train.shape[0]:data_val.shape[0]], data_val['Predicted(C/m2)'][train.shape[0]:data_val.shape[0]])

  return n_fold, train_shape, test_shape, mape_trf, mape_trf_train, mape_trf_test

In [23]:
max_random_sate = 100

In [24]:
random_states = []
n_folds = []
train_shapes = []
test_shapes = []

MAPEs = []
train_MAPEs = []
test_MAPEs = []


for random_state in range(max_random_sate):
  index = get_index(random_state, data)
  for n_fold in range(5):
    random_states.append(random_state)
    n_fold, train_shape, test_shape, MAPE, train_MAPE, test_MAPE = get_scores(n_fold, index, data)
    n_folds.append(n_fold)
    train_shapes.append(train_shape)
    test_shapes.append(test_shape)
    
    MAPEs.append(MAPE)
    train_MAPEs.append(train_MAPE)
    test_MAPEs.append(test_MAPE)

In [25]:
summary = pd.DataFrame()
summary['random_state']=random_states
summary['n_fold']=n_folds
summary['train_shape'] = train_shapes
summary['test_shape'] = test_shapes

summary['MAPE'] = MAPEs
summary['train_MAPE'] = train_MAPEs
summary['test_MAPE'] = test_MAPEs

summary

     random_state  n_fold train_shape  ...      MAPE  train_MAPE  test_MAPE
0               0       0     (34, 9)  ...  4.843546    4.506743   6.115916
1               0       1     (34, 9)  ...  5.026700    5.061299   4.895994
2               0       2     (34, 9)  ...  4.801478    4.529235   5.829953
3               0       3     (35, 9)  ...  4.811465    5.152665   3.318715
4               0       4     (35, 9)  ...  4.590527    4.246461   6.095818
..            ...     ...         ...  ...       ...         ...        ...
495            99       0     (34, 9)  ...  4.735886    4.666534   4.997881
496            99       1     (34, 9)  ...  4.347669    5.145744   1.332717
497            99       2     (34, 9)  ...  5.339915    5.418059   5.044706
498            99       3     (35, 9)  ...  4.933600    4.501803   6.822712
499            99       4     (35, 9)  ...  4.840418    4.276016   7.309678

[500 rows x 7 columns]

In [26]:
summary.describe()

       random_state     n_fold        MAPE  train_MAPE   test_MAPE
count    500.000000  500.00000  500.000000  500.000000  500.000000
mean      49.500000    2.00000    4.740583    4.643571    5.127189
std       28.894979    1.41563    0.281096    0.332607    1.169177
min        0.000000    0.00000    4.039453    3.613932    1.332717
25%       24.750000    1.00000    4.545739    4.433398    4.303611
50%       49.500000    2.00000    4.736409    4.640514    5.021481
75%       74.250000    3.00000    4.914726    4.865357    5.957534
max       99.000000    4.00000    5.476475    5.554771    9.382069

In [27]:
summary.to_csv('100RandomState_SEBS.csv')